# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
training_data/

# Javascript/Node
node_modules/
dist/
.DS_Store
coverage/
.npm/

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Logs
*.log
